
html body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}
.main-title{
    font-weight: bold;
    font-size: 18px;
}
.label-title{
    opacity: .6;
    font-weight: bold;
    font-size: 15px;
}
.add-item-btn{
    font-size: 20px;
}
.common-input{
    border: 2px solid gray;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    height: 42px;
    &:focus{
        border-color: orange;
        outline: orange;
        background-color: #ffefd3;
    }
}
.special-common-input{
    width: 70px;
    height: 35px;
}
.common-input-textarea{
    height: auto;
    width: 300px;
    resize: none;
}
.delete-icon{
    color: red;
    display: flex;
    svg{
        align-self: center;
        align-self: center;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
}
.product-reference{
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.new-item{
    border-bottom: 2px dashed #d8d8d8;
}
.currency{
    font-weight: bold;
    color: gray;
}

.total-receipt{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    background-color: #F8F9FB;
    border: 2px solid #F0F4F8;
    padding: 10px;
    margin: 0 auto 0 0;
    .total-receipt-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-size: 20px;
            display: inline-block;
            font-weight: bold;
            margin: 0;
        }
        h4{
            font-size: 18px;
            display: inline-block;
            margin: 0;
        }
    }
}